<nav class="gh-head-inner gh-container">

  <div class="gh-head-brand">
    <a class="gh-head-logo" href="{{@site.url}}">
      <img src="{{@site.logo}}" alt="{{@site.title}}" />
      <div class="flex flex-col items-start w-20">
        <h1 class="md:inline-block site-title text-sm font-bold leading-snug">
          <span class="text-primary dark:text-primary-darker hover:text-black dark:hover:text-light-gray">{{@site.title}}</span>
        </h1>
      </div>
    </a>
    {{!-- <a class="gh-burger" role="button" aria-label="menu">
      <div class="gh-burger-box">
        <div class="gh-burger-inner"></div>
      </div>
    </a> --}}
  </div>
  <div class="gh-head-menu">
    {{navigation}}
  </div>
  {{!-- <div class="gh-head-actions">
    <div class="gh-head-actions-list">
      {{search}}
      {{#if @site.members_enabled}}
      {{^if @member}}
      <a class="gh-button" href="{{@site.signup_url}}">{{t "Subscribe"}}</a>
      {{else}}
      <a class="gh-button" href="#/portal/account">Account</a>
      {{/if}}
      {{/if}}
    </div>
  </div> --}}
</nav>
